<app-breadcrumb
  [caminhos]=""
  [destino]="'Regras dos Sorteios'">
</app-breadcrumb>

<!-- contest section start  -->
<section class="pb-120 mt-minus-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contest-wrapper">

          <div class="contest-wrapper__body">

            <div class="tab-content mt-50" id="myTabContent">
              <div class="tab-pane fade show active" id="dream" role="tabpanel" aria-labelledby="dream-tab">

                <div class="row mb-none-30 mt-50">

                  <div class="main container">
                    <div class="row">
                      <div class="col-sm-12" id="content">
                        <div class="col-main">
                          <div class="static-contain">
                            <div class="page-title">
                              <h2 class="entry-title">
                                Regras dos Sorteios
                              </h2>
                            </div>
                            <div class="page-content">
                              <p>Todos os sorteios são realizados pela Loteria Federal da Caixa, isentando a plataforma do Rifa Real de qualquer possibilidade de fraude no sorteio.</p>

                              <p>A cota mínima a para realização dos sorteios é de 95% dos bilhetes pagos, caso não seja alcançada, a data do sorteio será alterada para o próximo sorteio da Loteria Federal, até que a cota seja atendida.</p>

                              <p>Para os sorterios de 200 pontos, cada número adquirido/comprado equivale a 5 números para concorrer.</p>
                              <p>Para os sorterios de 500 pontos, cada número adquirido/comprado equivale a 2 números para concorrer.</p>
                              <p>Para os sorterios de 1000 pontos, cada número adquirido/comprado equivale a 1 números para concorrer.</p>

                              <p>O ganhador do sorteio será definido com base no resultado do 1º prêmio da Loteria Federal na data estabelecida.</p>

                              <p>A Loteria Federal sorteia um número com 6 digitos, exemplo: 046174, a apuração desta rifa ocorre sempre com base nos 3 últimos números, neste caso 174 seria o vencedor</p>

                              <p>Caso o número sorteado pela Loteria Federal não coincida com um bilhete pago, o ganhador será definido com base no 2º prêmio da Loteria Federal na data estabelecida.</p>

                              <p>Caso o número sorteado pela Loteria Federal no 2º prêmio não coincida com um bilhete pago, o ganhador será definido com base no 3º prêmio da Loteria Federal na data estabelecida.</p>

                              <p>Caso o número sorteado pela Loteria Federal no 3º prêmio não coincida com um bilhete pago, o ganhador será definido com base no 4º prêmio da Loteria Federal na data estabelecida.</p>

                              <p>Caso o número sorteado pela Loteria Federal no 4º prêmio não coincida com um bilhete pago, o ganhador será definido com base no 5º prêmio da Loteria Federal na data estabelecida.</p>

                              <p>Persistindo sem ganhador, o contemplado será o número mais próximo do 1º prêmio da Loteria Federal na data estabelecida, em caso de números igualmente próximos o vencedor será o número maior.</p>
                              <p>Exemplo: <br>
                                Número sorteado: 150, porém este número não foi comprado.<br>
                                Se foram comprados os números 149 e o número 151, o vencedor será o número 151, pois é o maior.
                              </p>
                              <br>

                              <p>O RifaReal entregará os prêmios em até 7 dias úteis após a realização do sorteio.</p>

                              <p>O Vencedor deverá ler e estar ciente dos <b><a routerLink="/termos-condicoes">Termos e Condições</a></b> para o recebimento do bem, sendo obrigatório o registro via foto e vídeo da recepção do prêmio.</p>

                              <br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div><!-- contest-wrapper end -->
      </div>
    </div>
  </div>
</section>
<!-- contest section end -->
