<app-breadcrumb
  [caminhos]=""
  [destino]="'Contato'">
</app-breadcrumb>

<!-- contest section start  -->
<section class="pb-120 mt-minus-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contest-wrapper">

          <div class="contest-wrapper__body">

            <div class="tab-content mt-50" id="myTabContent">
              <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                <div class="row mb-none-30 mt-50">
                  <div class="col-4 col-md-1">
                    <i class="fab fa-whatsapp fa-5x"></i>
                  </div>
                  <div class="col-8 col-md-3">
                    <a target="_blank" href="http://wa.me/551130428499?text=Ol%C3%A1%2C+gostaria+de+uma+tirar+uma+d%C3%BAvida">(11)3042-8499</a>
                  </div>
                  <div class="col-4 col-md-1">
                    <i class="fab fa-instagram fa-5x"></i>
                  </div>
                  <div class="col-8 col-md-3">
                    <a target="_blank" href="http://instagram.com/rifarealbr">@rifarealbr</a>
                  </div>
                  <div class="col-4 col-md-1">
                    <i class="fas fa-at fa-5x"></i>
                  </div>
                  <div class="col-8 col-md-3">
                    <a target="_blank" href="mailto:suporte@rifareal.com.br">suporte@rifareal.com.br</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div><!-- contest-wrapper end -->
      </div>
    </div>
  </div>
</section>
<!-- contest section end -->
