<!-- hero start -->
<section class="hero">
  <div class="hero__element"><img src="/assets/images/elements/hero-building.png" alt="image"></div>
  <div class="hero__car wow bounceIn" data-wow-duration="0.5s" data-wow-delay="1s">
    <img src="/assets/images/elements/car-shadow.png" alt="image" class="car-shadow">
    <img src="/assets/images/elements/car-ray.png" alt="image" class="car-ray">
    <img src="/assets/images/elements/car-light.png" alt="image" class="car-light">
    <img [src]="sorteioPrincipal.imagem" [alt]="sorteioPrincipal.altImagem" class="hero-car">
    <img src="/assets/images/elements/car-star.png" alt="image" class="car-star">
  </div>
  <div class="container">
    <div class="row justify-content-center justify-content-lg-start">
      <div class="col-lg-6 col-md-8">
        <div class="hero__content">
          <div class="hero__subtitle wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">{{sorteioPrincipal.subtitulo_linha1}}</div>
          <h2 class="hero__title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">{{sorteioPrincipal.destaque_linha2}}</h2>
          <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">{{sorteioPrincipal.texto_linha3}}</p>
          <div class="hero__btn wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
            <a [routerLink]="sorteioPrincipal.urlBotao" class="cmn-btn">{{sorteioPrincipal.textoBotao}}</a>
            <a *ngIf="sorteioPrincipal.urlVideo" class="video-btn" [href]="sorteioPrincipal.urlVideo" data-rel="lightcase:myCollection"><i class="fas fa-play"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero__thumb">
          <img [src]="sorteioPrincipal.imagem" [alt]="sorteioPrincipal.altImagem">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero start -->

<app-ultimas-rifas></app-ultimas-rifas>

<app-como-participar></app-como-participar>

<!-- <app-ultimos-ganhadores></app-ultimos-ganhadores> -->

<!-- <app-suporte></app-suporte> -->

