<!-- support section start  -->
<section class="pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-header text-center">
          <span class="section-sub-title">Suporte personalizado para você</span>
          <h2 class="section-title">Nosso Suporte</h2>
          <p>Tem alguma dúvida ou precisa de ajuda? Entre em contato com nossa equipe de suporte.</p>
        </div>
      </div>
    </div>
    <div class="row mb-none-30">
      <div class="col-lg-6 mb-30 wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <div class="support-card">
          <div class="support-card__thumb">
            <img src="/assets/images/icon/support/1.png" alt="image">
          </div>
          <div class="support-card__content">
            <h3 class="support-card__title">Fale com nosso time</h3>
            <p>Tem alguma dúvida sobre a Rifa Real? Fale com nossa equipe de atendimento.</p>
            <div class="btn-grp justify-content-xl-start mt-3">
              <a href="tel:6564545" class="btn-border btn-sm text-capitalize">WhatsApp <i class="fab fa-whatsapp"></i></a>
              <a href="mailto:dhdj@gmail.com" class="cmn-btn btn-sm text-capitalize">E-mail <i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div><!-- support-card end -->
      </div>
      <div class="col-lg-6 mb-30 wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class="support-card">
          <div class="support-card__thumb">
            <img src="/assets/images/icon/support/2.png" alt="image">
          </div>
          <div class="support-card__content">
            <h3 class="support-card__title">Tutoriais do Rifa Real</h3>
            <p>Verifique na nossa FAQ se já temos a resposta para sua pergunta.</p>
            <div class="btn-grp justify-content-xl-start mt-3">
              <a href="faq.html" class="btn-border btn-sm text-capitalize">FAQ & Tutoriais</a>
            </div>
          </div>
        </div><!-- support-card end -->
      </div>
    </div>
  </div>
</section>
<!-- support section end  -->
