<app-breadcrumb
  [caminhos]=""
  [destino]="'Termos e Condições'">
</app-breadcrumb>

<!-- contest section start  -->
<section class="pb-120 mt-minus-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contest-wrapper">

          <div class="contest-wrapper__body">

            <div class="tab-content mt-50" id="myTabContent">
              <div class="tab-pane fade show active" id="dream" role="tabpanel" aria-labelledby="dream-tab">

                <div class="row mb-none-30 mt-50">
                  <div class="main container">
                    <div class="row">
                      <div class="col-sm-12" id="content">
                        <div class="col-main">
                          <div class="static-contain">
                            <div class="page-title">
                              <h2 class="entry-title">
                                Termos e Condições
                              </h2>
                            </div>
                            <div class="page-content">
                              <h2>1. Termos</h2>
                              <p>Ao acessar ao site <a href='rifareal.com.br'>Rifa Real</a>, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis ​​e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum                desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.</p>
                              <h2>2. Dos Sorteios</h2>
                              <p>Todos os sorteios são realizados pela Loteria Federal da Caixa, isentando a plataforma do Rifa Real de qualquer possibilidade de fraude no sorteio.</p>
                              <p>Clique no link a seguir para entender as regras do sorteio: <b><a routerLink="/regras-sorteio">Regras dos Sorteios</a></b></p>
                              <h2>2. Do Recebimento do Prêmio</h2>
                              <p>O ganhador será contactado pelo número de telefone informado no momento da reserva, as tentatias ocorrerão por ligação e por WhatsApp. O ganhador poderá também entrar em contato com a plataforma via WhatsApp, E-mail ou Instagram para informar da sua contemplação, caso seja confirmada será válida.</p>
                              <p>Para o recebimento do prêmio é necessário montar uma evidência da entrega do prêmio, está deverá ocorrer via foto e vídeo, sendo obrigatório este registro.</p>
                              <p>O ganhador deverá aceitar que a evidência da entrega do prêmio seja divulgado nas redes sociais do Rifa Real.</p>
                              <h2>3. Isenção de responsabilidade</h2>
                              <ol>
                                <li>Os materiais no site da Rifa Real são fornecidos 'como estão'. Rifa Real não oferece garantias, expressas ou implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização,            adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos. </li>
                                <li>Além disso, o Rifa Real não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ​​ou à confiabilidade do uso dos            materiais em seu site ou de outra forma relacionado a esses materiais ou em sites vinculados a este site.</li>
                              </ol>
                              <h2>4. Limitações</h2>
                              <p>Em nenhum caso o Rifa Real ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em Rifa Real,                mesmo que Rifa Real ou um representante autorizado da Rifa Real tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade                por danos conseqüentes ou incidentais, essas limitações podem não se aplicar a você.</p>
                              <h2>5. Precisão dos materiais</h2>
                              <p>Os materiais exibidos no site da Rifa Real podem incluir erros técnicos, tipográficos ou fotográficos. Rifa Real não garante que qualquer material em seu site seja preciso, completo ou atual. Rifa Real pode fazer alterações nos materiais contidos em seu                site a qualquer momento, sem aviso prévio. No entanto, Rifa Real não se compromete a atualizar os materiais.</p>
                              <h2>6. Links</h2>
                              <p>O Rifa Real não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por Rifa Real do site. O uso de qualquer site vinculado é por conta e risco do usuário.</p>
                              <h3>Modificações</h3>
                              <p>O Rifa Real pode revisar estes termos de serviço do site a qualquer momento, sem aviso prévio. Ao usar este site, você concorda em ficar vinculado à versão atual desses termos de serviço.</p>
                              <h3>Lei aplicável</h3>
                              <p>Estes termos e condições são regidos e interpretados de acordo com as leis do Rifa Real e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquele estado ou localidade.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div><!-- contest-wrapper end -->
      </div>
    </div>
  </div>
</section>
<!-- contest section end -->
