<!-- how to play section start -->
<section class="position-relative pt-120 overflow-hidden">
  <div class="play-elements wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.7s">
    <img src="/assets/images/elements/play-el.png" alt="image">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-sm-left text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <div class="section-header">
          <span class="section-sub-title">Veja como é fácil</span>
          <h2 class="section-title">Como Participar</h2>
          <p>Basta seguir os 3 passsos abaixo!</p>
        </div>
      </div>
    </div>
    <div class="row mb-none-30 justify-content-xl-start justify-content-center">
      <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
        <div class="play-card bg_img" data-background="/assets/images/elements/card-bg-1.jpg">
          <div class="play-card__icon">
            <img src="/assets/images/icon/play/1.png" alt="image-icon">
            <span class="play-card__number">01</span>
          </div>
          <div class="play-card__content">
            <h3 class="play-card__title">Escolha</h3>
            <p>Escolha seu Prêmio</p>
          </div>
        </div><!-- play-card end -->
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
        <div class="play-card bg_img" data-background="/assets/images/elements/card-bg-2.jpg">
          <div class="play-card__icon">
            <img src="/assets/images/icon/play/2.png" alt="image-icon">
            <span class="play-card__number">02</span>
          </div>
          <div class="play-card__content">
            <h3 class="play-card__title">Reserva</h3>
            <p>Reserve seus números e finalize o pagamento</p>
          </div>
        </div><!-- play-card end -->
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
        <div class="play-card bg_img" data-background="/assets/images/elements/card-bg-3.jpg">
          <div class="play-card__icon">
            <img src="/assets/images/icon/play/3.png" alt="image-icon">
            <span class="play-card__number">03</span>
          </div>
          <div class="play-card__content">
            <h3 class="play-card__title">Sorteio</h3>
            <p>Pronto, agora é so aguardar a data do sorteio, se você ganhar vamos te avisar ;)</p>
          </div>
        </div><!-- play-card end -->
      </div>
    </div>
  </div>
</section>
<!-- how to play section end -->
