<!-- footer section start  -->
<footer class="footer-section pt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">
        <div class="subscribe-area">
          <div class="left">
            <span class="subtitle">Saiba das nossas novidades</span>
            <h3 class="title">Obter notícias de novas Rifas</h3>
          </div>
          <div class="right">
            <form class="subscribe-form">
              <input type="email" name="subscribe_email" id="subscribe_email" placeholder="Seu E-mail">
              <button type="button" (click)="onNoticias()">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-120">
    <div class="row pb-5 align-items-center">
      <div class="col-lg-4">
        <ul class="app-btn" hidden>
          <li><a disabled href="#0"><img src="/assets/images/icon/store-btn/1.png" alt="image"></a></li>
          <li><a disabled href="#0"><img src="/assets/images/icon/store-btn/2.png" alt="image"></a></li>
        </ul>
      </div>
      <div class="col-lg-8">
        <ul class="short-links justify-content-lg-end justify-content-center">
          <!-- <li><a href="#0">FAQ</a></li> -->
          <li><a routerLink="/contato">Contato</a></li>
          <li><a routerLink="/politicas-privacidade">Políticas de Privacidade</a></li>
          <li><a routerLink="/termos-condicoes">Termos e Condições</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row py-5 align-items-center">
      <div class="col-lg-6">
        <p class="copy-right-text text-lg-left text-center mb-lg-0 mb-3">Copyright © 2020. Todos os direitos reservados para <a class="copy-right-text" routerLink="/">Rifa Real</a></p>
      </div>
      <div class="col-lg-6">
        <ul class="social-links justify-content-lg-end justify-content-center">
          <li><a href="http://instagram.com/rifarealbr" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="http://wa.me/551130428499?text=Ol%C3%A1%2C+gostaria+de+uma+tirar+uma+d%C3%BAvida" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- footer section end -->
