<!-- contest section start -->
<section class="position-relative pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <div class="section-header text-center">
          <span class="section-sub-title">Você pode ser o próximo ganhador</span>
          <h2 class="section-title">Últimas Rifas</h2>
          <p>Escolha o prêmio, reserve seus números e aguarde o sorteio</p>
        </div>
      </div>
    </div><!-- row end -->
    <div class="row wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
      <div class="col-lg-12">
        <div class="tab-content" id="contestTabContent">
          <div class="tab-pane fade show active" id="car" role="tabpanel" aria-labelledby="car-tab">
            <div class="row mb-none-30">
              <div class="col-xl-4 col-md-6 mb-30">
                <div class="contest-card">
                  <a href="light-contest-details-one.html" class="item-link"></a>
                  <div class="contest-card__thumb">
                    <img src="/assets/images/contest/1.png" alt="image">
                    <!-- <a href="#0" class="action-icon"><i class="far fa-heart"></i></a> -->
                    <div class="contest-num">
                      <span>Rifa  nº:</span>
                      <h4 class="number">b2t</h4>
                    </div>
                  </div>
                  <div class="contest-card__content">
                    <div class="left">
                      <h5 class="contest-card__name">Iphone 11 128gb</h5>
                    </div>
                    <div class="right">
                      <span class="contest-card__price">R$ 25,00</span>
                      <p>Valor</p>
                    </div>
                  </div>
                  <div class="contest-card__footer">
                    <ul class="contest-card__meta">
                      <li>
                        <i class="las la-clock"></i>
                        <span>5 dias</span>
                      </li>
                      <li>
                        <i class="las la-ticket-alt"></i>
                        <span>280</span>
                        <p>Restantes</p>
                      </li>
                    </ul>
                  </div>
                </div><!-- contest-card end -->
              </div>
              <div class="col-xl-4 col-md-6 mb-30">
                <div class="contest-card">
                  <a href="light-contest-details-one.html" class="item-link"></a>
                  <div class="contest-card__thumb">
                    <img src="/assets/images/contest/2.png" alt="image">
                    <!-- <a href="#0" class="action-icon"><i class="far fa-heart"></i></a> -->
                    <div class="contest-num">
                      <span>contest no:</span>
                      <h4 class="number">x9u</h4>
                    </div>
                  </div>
                  <div class="contest-card__content">
                    <div class="left">
                      <h5 class="contest-card__name">The Del Sol Trailblazer</h5>
                    </div>
                    <div class="right">
                      <span class="contest-card__price">$3.99</span>
                      <p>ticket price</p>
                    </div>
                  </div>
                  <div class="contest-card__footer">
                    <ul class="contest-card__meta">
                      <li>
                        <i class="las la-clock"></i>
                        <span>5d</span>
                      </li>
                      <li>
                        <i class="las la-ticket-alt"></i>
                        <span>9805</span>
                        <p>Remaining</p>
                      </li>
                    </ul>
                  </div>
                </div><!-- contest-card end -->
              </div>
              <div class="col-xl-4 col-md-6 mb-30">
                <div class="contest-card">
                  <a href="light-contest-details-one.html" class="item-link"></a>
                  <div class="contest-card__thumb">
                    <img src="/assets/images/contest/3.png" alt="image">
                    <!-- <a href="#0" class="action-icon"><i class="far fa-heart"></i></a> -->
                    <div class="contest-num">
                      <span>contest no:</span>
                      <h4 class="number">8y3</h4>
                    </div>
                  </div>
                  <div class="contest-card__content">
                    <div class="left">
                      <h5 class="contest-card__name">The Miata Dart IV</h5>
                    </div>
                    <div class="right">
                      <span class="contest-card__price">$3.99</span>
                      <p>ticket price</p>
                    </div>
                  </div>
                  <div class="contest-card__footer">
                    <ul class="contest-card__meta">
                      <li>
                        <i class="las la-clock"></i>
                        <span>5d</span>
                      </li>
                      <li>
                        <i class="las la-ticket-alt"></i>
                        <span>9805</span>
                        <p>Remaining</p>
                      </li>
                    </ul>
                  </div>
                </div><!-- contest-card end -->
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="lifestyle" role="tabpanel" aria-labelledby="lifestyle-tab">
            <div class="row mb-none-30">
              <div class="col-xl-4 col-md-6 mb-30">
                <div class="contest-card">
                  <a href="light-contest-details-one.html" class="item-link"></a>
                  <div class="contest-card__thumb">
                    <img src="/assets/images/contest/4.png" alt="image">
                    <a href="#0" class="action-icon"><i class="far fa-heart"></i></a>
                    <div class="contest-num">
                      <span>contest no:</span>
                      <h4 class="number">r9d</h4>
                    </div>
                  </div>
                  <div class="contest-card__content">
                    <div class="left">
                      <h5 class="contest-card__name">The Fabia Magnum</h5>
                    </div>
                    <div class="right">
                      <span class="contest-card__price">$3.99</span>
                      <p>ticket price</p>
                    </div>
                  </div>
                  <div class="contest-card__footer">
                    <ul class="contest-card__meta">
                      <li>
                        <i class="las la-clock"></i>
                        <span>5d</span>
                      </li>
                      <li>
                        <i class="las la-ticket-alt"></i>
                        <span>9805</span>
                        <p>Remaining</p>
                      </li>
                    </ul>
                  </div>
                </div><!-- contest-card end -->
              </div>
              <div class="col-xl-4 col-md-6 mb-30">
                <div class="contest-card">
                  <a href="light-contest-details-one.html" class="item-link"></a>
                  <div class="contest-card__thumb">
                    <img src="/assets/images/contest/5.png" alt="image">
                    <a href="#0" class="action-icon"><i class="far fa-heart"></i></a>
                    <div class="contest-num">
                      <span>contest no:</span>
                      <h4 class="number">pr2</h4>
                    </div>
                  </div>
                  <div class="contest-card__content">
                    <div class="left">
                      <h5 class="contest-card__name">The Omega Navigator</h5>
                    </div>
                    <div class="right">
                      <span class="contest-card__price">$3.99</span>
                      <p>ticket price</p>
                    </div>
                  </div>
                  <div class="contest-card__footer">
                    <ul class="contest-card__meta">
                      <li>
                        <i class="las la-clock"></i>
                        <span>5d</span>
                      </li>
                      <li>
                        <i class="las la-ticket-alt"></i>
                        <span>9805</span>
                        <p>Remaining</p>
                      </li>
                    </ul>
                  </div>
                </div><!-- contest-card end -->
              </div>
              <div class="col-xl-4 col-md-6 mb-30">
                <div class="contest-card">
                  <a href="light-contest-details-one.html" class="item-link"></a>
                  <div class="contest-card__thumb">
                    <img src="/assets/images/contest/6.png" alt="image">
                    <a href="#0" class="action-icon"><i class="far fa-heart"></i></a>
                    <div class="contest-num">
                      <span>contest no:</span>
                      <h4 class="number">w03</h4>
                    </div>
                  </div>
                  <div class="contest-card__content">
                    <div class="left">
                      <h5 class="contest-card__name">Shelby Cobra</h5>
                    </div>
                    <div class="right">
                      <span class="contest-card__price">$3.99</span>
                      <p>ticket price</p>
                    </div>
                  </div>
                  <div class="contest-card__footer">
                    <ul class="contest-card__meta">
                      <li>
                        <i class="las la-clock"></i>
                        <span>5d</span>
                      </li>
                      <li>
                        <i class="las la-ticket-alt"></i>
                        <span>9805</span>
                        <p>Remaining</p>
                      </li>
                    </ul>
                  </div>
                </div><!-- contest-card end -->
              </div>
            </div>
          </div>
        </div><!-- table content end -->
      </div>
    </div><!-- row end-->
    <div class="row mt-30">
      <div class="col-lg-12">
        <div class="btn-grp">
          <a href="light-contest.html" class="btn-border">Ver Mais</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contest section end -->
