<app-breadcrumb
  [caminhos]="[{nome: 'Rifas', link: '/rifas'}]"
  [destino]="'Rifa Número ' + rifa.codigo"
  [cssClass]="'pb-300'">
</app-breadcrumb>

<!-- contest-details-section start -->
<section class="mt-minus-300">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="clock-wrapper">
          <p class="mb-2">Esta Rifa finaliza em:</p>
          <div class="clock" data-clock="">{{dataFimStr}}</div>
        </div><!-- clock-wrapper end -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="progressbar-timer" data-perc="">
          <div class="bar-progress-value">{{percentual}} Vendido</div>
          <div class="bar" [style.width]="percentual"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="contest-cart">
          <div class="contest-cart__left">
            <div class="contest-cart__slider-area">
              <div class="contest-cart__thumb-slider">
                <div class="single-slide"><img src="{{rifa.imagem}}" alt="image"></div>
              </div><!-- contest-cart__thumb-slider end -->
            </div>
          </div><!-- contest-cart__left end -->
          <div class="contest-cart__right">
            <div class="contest-num">Rifa: <span>{{rifa.codigo}}</span></div>
            <h4 class="subtitle d-none d-sm-block">Garanta agora a sua chance de ganhar um</h4>
            <h3 class="contest-name">{{ rifa.descricao }}</h3>
            <p>Sorteio dia {{rifa.dataFim | date : 'dd/MM/yyyy'}}</p>
            <div class="ticket-price">
              <span class="amount">R$ {{rifa.valor}}</span>
              <small>Valor Unitário</small>
              <span class="social-links-top"><a class="slink" href="#0"><i class="fab fa-instagram"></i></a><a class="slink" href="#0"><i class="fab fa-facebook-f"></i></a><a class="slink" href="#0"><i class="fab fa-whatsapp"></i></a></span>
            </div>
          </div><!-- contest-cart__right end -->
        </div><!-- contest-cart end -->
      </div><!-- col-lg-12 end -->
      <div class="col-lg-12">
        <div class="contest-description">
          <ul class="nav nav-tabs justify-content-center mb-10 pt-2 pb-1 border-0" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="cmn-btn active" id="numbers-tab" data-toggle="tab" href="#numbers" role="tab" aria-controls="numbers" aria-selected="true"><span class=""></span>Números</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="cmn-btn" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false"><span class=""></span>Informações</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="cmn-btn" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false"><span class=""></span>Regulamento</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="numbers" role="tabpanel" aria-labelledby="numbers-tab">
              <div class="content-block">
                <div class="contest-cart-numbers">
                  <div class="lottery-single">
                    <!-- lottery-single__header end -->
                    <div class="lottery-single__body">
                      <div class="color-legend row justify-content-center">
                        <ul class="lottery-single__number-legend">
                          <li class="available no-evt">Disponível</li>
                          <li class="reserved no-evt">Reservado</li>
                          <li class="purchased no-evt">Pago</li>
                        </ul>
                      </div>
                      <ul class="lottery-single__number">
                        <ng-template ngFor let-numero [ngForOf]="todosNumeros" let-i="index">
                          <li class="{{getClassByStatus(numero.statusNum)}}" (click)="onAdd($event, numero)">{{getValorStr(numero.valor)}}</li>
                        </ng-template>
                      </ul>
                    </div><!-- lottery-single__body end -->
                  </div><!-- lottery-single end -->
                </div>
              </div><!-- content-block end -->
            </div>
            <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div class="content-block">
                <h3 class="title">Descrição</h3>
                <p>Rifa de um {{ rifa.descricao }}.</p>
              </div><!-- content-block end -->
              <div class="content-block">
                <h3 class="title">Especificações</h3>
                <div class="row mb-none-30">
                  <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="icon-item">
                      <div class="icon-item__thumb"><img src="/assets/images/icon/specification/1.png" alt="image"></div>
                      <div class="icon-item__content">
                        <p>0-62mph</p>
                        <span>4.0 secs</span>
                      </div>
                    </div><!-- icon-item end -->
                  </div>
                  <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="icon-item">
                      <div class="icon-item__thumb"><img src="/assets/images/icon/specification/2.png" alt="image"></div>
                      <div class="icon-item__content">
                        <p>Top Speed</p>
                        <span>181 mph</span>
                      </div>
                    </div><!-- icon-item end -->
                  </div>
                  <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="icon-item">
                      <div class="icon-item__thumb"><img src="/assets/images/icon/specification/3.png" alt="image"></div>
                      <div class="icon-item__content">
                        <p>Power</p>
                        <span>542 bhp</span>
                      </div>
                    </div><!-- icon-item end -->
                  </div>
                  <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="icon-item">
                      <div class="icon-item__thumb"><img src="/assets/images/icon/specification/4.png" alt="image"></div>
                      <div class="icon-item__content">
                        <p>Displacement</p>
                        <span>4.0ltr</span>
                      </div>
                    </div><!-- icon-item end -->
                  </div>
                  <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="icon-item">
                      <div class="icon-item__thumb"><img src="/assets/images/icon/specification/5.png" alt="image"></div>
                      <div class="icon-item__content">
                        <p>bhp</p>
                        <span>691</span>
                      </div>
                    </div><!-- icon-item end -->
                  </div>
                  <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="icon-item">
                      <div class="icon-item__thumb"><img src="/assets/images/icon/specification/6.png" alt="image"></div>
                      <div class="icon-item__content">
                        <p>Year</p>
                        <span>2019</span>
                      </div>
                    </div><!-- icon-item end -->
                  </div>
                </div>
              </div><!-- content-block end -->
            </div>
            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
              <div class="content-block">
                <h3 class="title">Competition Details</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed ex eget mi sollicitudin consequat. Sed rhoncus ligula vel justo dignissim aliquam. Maecenas non est vitae ipsum luctus feugiat. Fusce purus nunc, sodales at condimentum sed, ullamcorper a nulla. Nam justo est, venenatis quis tellus in, volutpat eleifend nunc. Vestibulum congue laoreet mi non interdum. Ut ut dapibus tellus.</p>
              </div><!-- content-block end -->
            </div>
          </div><!-- tab-content end -->
        </div><!-- contest-description end -->
      </div>
    </div>
  </div>
</section>
<!-- contest-details-section end  -->

<div id="cart" class="container-fluid fixed-bottom hero__thumb p-4">
  <div class="lottery-single__footer mx-auto row">
    <div class="col-md-8 col-sm-6">
      <div class="titcket-number">Número(s) Selecionado(s)</div>
      <ul class="lottery-single__number">
        <p *ngIf="!numerosSelecionados.length">Nenhum número selecionado</p>
        <ng-template ngFor let-numero [ngForOf]="numerosSelecionados" let-i="index">
          <li class="selected" (click)="onAdd($event, numero)">{{getValorStr(numero.valor)}}<div class="selected-closable"></div></li>
        </ng-template>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
        <div class="ticket-price">
          <span class="amount">R$ {{rifa.valor}},00</span>
          <small>(unidade)</small>
          <span class="amount">x {{numerosSelecionados.length}} =</span>
          <span class="amount total">R$ {{numerosSelecionados.length * rifa.valor}},00</span>
        </div>
        <div class="mt-sm-0 mt-2"><button type="button" (click)="comprarRifa()" class="cmn-btn-pay style--three">Comprar Rifa</button></div>
    </div>
  </div><!-- lottery-single__footer end -->
</div>

<!-- Modal Purchase -->
<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-modal-default">
      <div class="modal-header">
        <h5 class="modal-title label" id="purchaseModalTitle">Comprar Rifa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="info-title">
          <label>Número(s) Selecionado(s): {{getNumerosSelecionadosView()}}</label><br>
          <label>Valor Total: R$ {{numerosSelecionados.length * rifa.valor}},00</label>
          <p>Por favor, preencha os dados abaixo para concluir.</p>
        </div>
        <form #ordemDeCompraForm="ngForm">
          <div class="form-group">
            <label for="name">Nome Completo*</label>
            <input type="text" class="form-control" autocomplete="off" id="name" name="name" placeholder="Nome Completo" required [(ngModel)]="ordemDeCompra.nome">
          </div>
          <div class="form-group">
            <label for="cpf">CPF*</label>
            <input type="text" class="form-control" autocomplete="off" id="cpf" name="cpf" placeholder="CPF" required [(ngModel)]="ordemDeCompra.cpf">
          </div>
          <div class="form-group">
            <label for="phone">Telefone*</label>
            <input type="text" class="form-control" autocomplete="off" id="phone" name="phone" placeholder="Telefone" aria-describedby="phoneInfo" required [(ngModel)]="ordemDeCompra.telefone">
            <small id="phoneInfo" class="form-text text-muted">*Caso seja o vencedor, iremos entrar em contato neste telefone.</small>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="terms" name="terms" required [(ngModel)]="ordemDeCompra.termos">
            <small class="form-check-label" for="terms">* Declaro que li e concordo com os <a href="javascript:void();">Termos de Uso do site</a>.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn cmn-btn-pay style--three" [disabled]="!ordemDeCompraForm.valid" (click)="onSubmit()">Confirmar Compra</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  Confirm -->
<div class="modal fade" id="purchaseModalConfirm" tabindex="-1" role="dialog" aria-labelledby="purchaseModalConfirmTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-modal-default">
      <div class="modal-header">
        <h5 class="modal-title label" id="purchaseModalConfirmTitle">Parabéns!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="info-title">
          <label>Sua compra foi finalizada!</label><br>
          <label>Por favor, siga as instruções via whatsapp.</label><br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
