<app-breadcrumb
  [caminhos]="[{nome: 'Rifas', link: '/rifas'}]"
  [destino]="'Rifa Número ' + rifa.codigo"
  [cssClass]="'pb-300'">
</app-breadcrumb>

<!-- contest-details-section start -->
<section class="mt-minus-300">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="clock-wrapper">
          <p class="mb-2">Esta Rifa finaliza em:</p>
          <div class="clock" data-clock="">{{dataFimStr}}</div>
        </div><!-- clock-wrapper end -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="progressbar-timer" data-perc="">
          <div class="bar-progress-value">{{percentual}} Vendido</div>
          <div class="bar" [style.width]="percentual"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="contest-cart">
          <div class="contest-cart__left">
            <div class="contest-cart__slider-area">
              <div class="contest-cart__thumb-slider">
                <div class="single-slide"><img src="{{rifa.imagem}}" alt="image"></div>
              </div><!-- contest-cart__thumb-slider end -->
            </div>
          </div><!-- contest-cart__left end -->
          <div class="contest-cart__right">
            <div class="contest-num">Rifa: <span>{{rifa.codigo}}</span></div>
            <h4 class="subtitle d-none d-sm-block">Garanta agora a sua chance de ganhar um</h4>
            <h3 class="contest-name">{{ rifa.descricao }}</h3>
            <p>Sorteio dia {{rifa.dataFim | date : 'dd/MM/yyyy'}}</p>
            <div class="ticket-price">
              <span class="amount">R$ {{rifa.valor}}</span>
              <small>Valor Unitário</small>
              <span class="social-links-top">
                <a class="slink" href="http://instagra.com/rifarealbr" target="_blank">
                <i class="fab fa-instagram"></i></a>
                <a class="slink" href="http://wa.me/551130428499?text=Ol%C3%A1%2C+gostaria+de+uma+tirar+uma+d%C3%BAvida" target="_blank">
                <i class="fab fa-whatsapp"></i></a></span>
            </div>
          </div><!-- contest-cart__right end -->
        </div><!-- contest-cart end -->
      </div><!-- col-lg-12 end -->
      <div class="col-lg-12">
        <div class="contest-description">
          <ul class="nav nav-tabs justify-content-center mb-10 pt-2 pb-1 border-0" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="cmn-btn active" id="numbers-tab" data-toggle="tab" href="#numbers" role="tab" aria-controls="numbers" aria-selected="true"><span class=""></span>Números</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="cmn-btn" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false"><span class=""></span>Informações</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="cmn-btn" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false"><span class=""></span>Regulamento</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="numbers" role="tabpanel" aria-labelledby="numbers-tab">
              <div class="content-block">
                <div class="contest-cart-numbers">
                  <div class="lottery-single">
                    <!-- lottery-single__header end -->
                    <div class="lottery-single__body">
                      <div class="color-legend row justify-content-center">
                        <ul class="lottery-single__number-legend">
                          <li class="available no-evt">Disponível</li>
                          <li class="reserved no-evt">Reservado</li>
                          <li class="purchased no-evt">Pago</li>
                        </ul>
                      </div>
                      <ul class="lottery-single__number">
                        <ng-template ngFor let-numero [ngForOf]="todosNumeros" let-i="index">
                          <li class="{{getClassByStatus(numero.statusNum)}}" (click)="onAdd($event, numero)">{{getValorStr(numero.valor)}}</li>
                        </ng-template>
                      </ul>
                    </div><!-- lottery-single__body end -->
                  </div><!-- lottery-single end -->
                </div>
              </div><!-- content-block end -->
            </div>
            <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div class="content-block">
                <h3 class="title">Descrição</h3>
                <p>Rifa de um {{ rifa.descricao }}.</p>
                <p>Produto Novo com as características originais do fabricante.</p>
                <p>*Imagens Ilustrativas sujeitas a alteração na cor do produto.</p>
              </div><!-- content-block end -->
            </div>
            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
              <div class="content-block">
                <h3 class="title">Regulamento</h3>
                <br>
                <p>A cota mínima a para realização do sorteio é de 95% dos bilhetes pagos, caso não seja alcançada, a data do sorteio será alterada para o próximo sorteio da Loteria Federal, até que a cota seja atendida.</p>

                <p>Neste sorteio cada número adquirido/comprado equivale a {{1000/rifa.numeros.length}} números para concorrer.</p>
                <p>A fómula para os números que irão concorrer é: n, n+200, n+400, n+600, n+800</p>
                <p>Exemplos: <br>
                  Caso seja comprado o número 0, este participante concorrerá com os números 0, 200, 400, 600, 800<br>
                  Caso seja comprado o número 1, este participante concorrerá com os números 1, 201, 401, 601, 801<br>
                  Caso seja comprado o número 5, este participante concorrerá com os números 5, 205, 405, 605, 805<br>
                  Caso seja comprado o número 10, este participante concorrerá com os números 10, 210, 410, 610, 810<br>
                  Caso seja comprado o número 100, este participante concorrerá com os números 100, 300, 500, 700, 900<br>
                  Caso seja comprado o número 150, este participante concorrerá com os números 150, 350, 550, 750, 950<br>
                  Caso seja comprado o número 199, este participante concorrerá com os números 199, 399, 599, 799, 999<br>
                </p>
                <br>
                <p>O ganhador do sorteio será definido com base no resultado do 1º prêmio da Loteria Federal de {{rifa.dataFimStr}}.</p>

                <p>A Loteria Federal sorteia um número com 6 digitos, exemplo: 046174, a apuração desta rifa ocorre sempre com base nos 3 últimos números, neste caso 174 seria o vencedor</p>

                <p>Caso o número sorteado pela Loteria Federal não coincida com um bilhete pago, o ganhador será definido com base no 2º prêmio da Loteria Federal da {{rifa.dataFimStr}}.</p>

                <p>Caso o número sorteado pela Loteria Federal no 2º prêmio não coincida com um bilhete pago, o ganhador será definido com base no 3º prêmio da Loteria Federal da {{rifa.dataFimStr}}.</p>

                <p>Caso o número sorteado pela Loteria Federal no 3º prêmio não coincida com um bilhete pago, o ganhador será definido com base no 4º prêmio da Loteria Federal da {{rifa.dataFimStr}}.</p>

                <p>Caso o número sorteado pela Loteria Federal no 4º prêmio não coincida com um bilhete pago, o ganhador será definido com base no 5º prêmio da Loteria Federal da {{rifa.dataFimStr}}.</p>

                <p>Persistindo sem ganhador, o contemplado será o número mais próximo do 1º prêmio da Loteria Federal de {{rifa.dataFimStr}}, em caso de números igualmente próximos o vencedor será o número maior.</p>
                <p>Exemplo: <br>
                  Número sorteado: 150, porém este número não foi comprado.<br>
                  Se foram comprados os números 149 e o número 151, o vencedor será o número 151, pois é o maior.
                </p>
                <br>

                <p>O RifaReal entregará os prêmios em até 7 dias úteis após a realização do sorteio.</p>

                <p>O Vencedor deverá ler e estar ciente dos termos e condições para o recebimento do bem, sendo obrigatório o registro via foto e vídeo da recepção do prêmio.</p>

                <br>
              </div><!-- content-block end -->
            </div>
          </div><!-- tab-content end -->
        </div><!-- contest-description end -->
      </div>
    </div>
  </div>
</section>
<!-- contest-details-section end  -->

<div id="cart" class="container-fluid fixed-bottom hero__thumb p-4">
  <div class="lottery-single__footer mx-auto row">
    <div class="col-md-8 col-sm-6">
      <div class="titcket-number">Número(s) Selecionado(s)</div>
      <ul class="lottery-single__number">
        <p *ngIf="!numerosSelecionados.length">Nenhum número selecionado</p>
        <ng-template ngFor let-numero [ngForOf]="numerosSelecionados" let-i="index">
          <li class="selected" (click)="onAdd($event, numero)">{{getValorStr(numero.valor)}}<div class="selected-closable"></div></li>
        </ng-template>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
        <div class="ticket-price">
          <span class="amount">R$ {{rifa.valor}},00</span>
          <small>(unidade)</small>
          <span class="amount">x {{numerosSelecionados.length}} =</span>
          <span class="amount total">R$ {{numerosSelecionados.length * rifa.valor}},00</span>
        </div>
        <div class="mt-sm-0 mt-2"><button type="button" (click)="comprarRifa()" class="cmn-btn-pay style--three">Comprar Rifa</button></div>
    </div>
  </div><!-- lottery-single__footer end -->
</div>

<!-- Modal Purchase -->
<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-modal-default">
      <div class="modal-header">
        <h5 class="modal-title label" id="purchaseModalTitle">Comprar Rifa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="info-title">
          <label>Número(s) Selecionado(s): {{getNumerosSelecionadosView()}}</label><br>
          <label>Valor Total: R$ {{numerosSelecionados.length * rifa.valor}},00</label>
          <p>Por favor, preencha os dados abaixo para concluir.</p>
        </div>
        <form #ordemDeCompraForm="ngForm">
          <div class="form-group">
            <label for="name">Nome Completo*</label>
            <input type="text" class="form-control" autocomplete="off" id="name" name="name" placeholder="Nome Completo" required [(ngModel)]="ordemDeCompra.nome">
          </div>
          <div class="form-group">
            <label for="cpf">CPF*</label>
            <input type="text" class="form-control" autocomplete="off" id="cpf" name="cpf" placeholder="CPF" required [(ngModel)]="ordemDeCompra.cpf">
          </div>
          <div class="form-group">
            <label for="phone">Telefone*</label>
            <input type="text" class="form-control" autocomplete="off" id="phone" name="phone" placeholder="Telefone" aria-describedby="phoneInfo" required [(ngModel)]="ordemDeCompra.telefone">
            <small id="phoneInfo" class="form-text text-muted">*Caso seja o vencedor, iremos entrar em contato neste telefone.</small>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="terms" name="terms" required [(ngModel)]="ordemDeCompra.termos">
            <small class="form-check-label" for="terms">* Declaro que li e concordo com os <a href="javascript:void();">Termos de Uso do site</a>.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn cmn-btn-pay style--three" [disabled]="!ordemDeCompraForm.valid" (click)="onSubmit()">Confirmar Compra</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  Confirm -->
<div class="modal fade" id="purchaseModalConfirm" tabindex="-1" role="dialog" aria-labelledby="purchaseModalConfirmTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-modal-default">
      <div class="modal-header">
        <h5 class="modal-title label" id="purchaseModalConfirmTitle">Parabéns!</h5>
      </div>
      <div class="modal-body">
        <div class="info-title">
          <label>Sua compra foi finalizada!</label><br>
          <label>Seus números do sorteio já estão reservados, agora você precisa fazer um Pix no valor de <b>R$ {{ordemDeCompra.valorTotal}},00</b> para o seguinte e-mail:</label>
          <label><b>suporte@rifareal.com.br</b></label>
          <label>Assim que for realizado o Pix, clique no botão abaixo para fazermos a confirmação do pagamento via WhatsApp.</label><br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onWhatsAppAction()">Confirmar no WhatsApp</button>
      </div>
    </div>
  </div>
</div>
