<div class="header__top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="left d-flex align-items-center">
          <div class="alert-static-message">*Proibido para menores de 18 anos. | Sigam-nos: <a href="http://instagram.com/rifarealbr" target="_blank"><i class="fab fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="right">
          <div class="product__cart">
            <span class="total__amount">R$ </span><span class="total__amount">0,00</span>
            <a href="light-cart.html" class="amount__btn">
              <i class="las la-shopping-basket"></i>
              <!--<span class="cart__num">00</span>-->
            </a>
          </div>
          <a href="#0" class="user__btn" data-toggle="modal" data-target="#loginModal"><i class="las la-user"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- header__top end -->
